#data-section {
    width: 100%;
    background: #F5F5F5;
    padding: 100px 0;

    @media screen and (max-width: $xl-breakpoint) {
        padding: 80px 0;
    }

    @media screen and (max-width: $lg-breakpoint) {
        padding: 75px 0;
    }

    @media screen and (max-width: $md-breakpoint) {
        padding: 70px 0;
    }
    
    @media screen and (max-width: $sm-breakpoint) {
        padding: 60px 0;
    }

    .data-row {
        gap: 94px;

        @media screen and (max-width: $xl-breakpoint) {
            gap: 80px;
        }

        @media screen and (max-width: $lg-breakpoint) {
            gap: 60px;
        }

        @media screen and (max-width: $md-breakpoint) {
            gap: 30px;
        }

        .data-card-col {
            width: calc(25% - 70.5px);

            @media screen and (max-width: $xl-breakpoint) {
                width: calc(25% - 60px);
            }

            @media screen and (max-width: $lg-breakpoint) {
                width: calc(25% - 45px);
            }

            @media screen and (max-width: $md-breakpoint) {
                width: calc(50% - 15px);
            }

            .data-text {
                text-align: center;

                h6{
                    font-size: $s-fontsize;
                    font-family: $roboto-fontfamily;
                    font-weight: $medium-font-weight;
                    color: $yellow-color;
                    line-height: $black-linehight;

                    @media screen and (max-width: $xl-breakpoint) {
                        font-size: 55px;
                        line-height: 60px;
                    }

                    @media screen and (max-width: $lg-breakpoint) {
                        font-size: 50px;
                        line-height: 55px;
                    }

                    @media screen and (max-width: $md-breakpoint) {
                        font-size: 45px;
                        line-height: 48px;
                    }

                    span{
                        @media screen and (max-width: $xl-breakpoint) {
                            font-size: 56px;
                            line-height: 60px;
                        }

                        @media screen and (max-width: $lg-breakpoint) {
                            font-size: 50px;
                            line-height: 55px;
                        }
                        
                        @media screen and (max-width: $md-breakpoint) {
                            font-size: 45px;
                            line-height: 48px;
                        }
                    }
                }

                h3 {
                    margin-top: 22px;

                    @media screen and (max-width: $xl-breakpoint) {
                        font-size: 21px;
                        line-height: 27px;
                        margin-top: 15px;
                    }

                    @media screen and (max-width: $lg-breakpoint) {
                        font-size: 17px;
                        line-height: 25px;
                        margin-top: 10px;
                    }
                    @media screen and (max-width: $md-breakpoint) {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}